<h1>Listing Tasks</h1>

<%= link_to 'New Task', new_task_path, class: 'button' %>

  <h2>Unfinished Tasks</h2>
  <!-- TAREAS VENCIDAS -->
    <% @tasks.each do |task| %>
      <% if task::finished != true %>
        <% if task::end_date < Time.now.utc%>
         <hr>
          <div class="row">
            <div class="columns large-9 medium-6">
              <blockquote>
                <%= task.title %>
                <cite>By <%= task.author.first_name%> <%= task.author.last_name %>
                <br>
                End Date:<%= task.end_date %>
                </em></cite>
              </blockquote>
            </div>
            <div class="columns large-3 medium-6">
              <ul class="inline-list">
                <li><%= link_to 'Show', task %></li>
                <li><%= link_to 'Edit', edit_task_path(task) %></li>
                <li><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></li>      
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <!-- TAREAS AUN NO VENCIDAS -->  
    <% @tasks.each do |task| %>
      <% if task::finished != true %>
        <% if task::end_date >= Time.now.utc%>
         <hr>
          <div class="row">
            <div class="columns large-9 medium-6">
              <blockquote>
                <%= task.title %>
                <cite>By <%= task.author.first_name%> <%= task.author.last_name %>
                <br>
                End Date:<%= task.end_date %>
                </em></cite>
              </blockquote>
            </div>
            <div class="columns large-3 medium-6">
              <ul class="inline-list">
                <li><%= link_to 'Show', task %></li>
                <li><%= link_to 'Edit', edit_task_path(task) %></li>
                <li><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></li>      
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>    

  <!-- TAREAS TERMINADAS -->
  <h2>Finished Tasks</h2>  
    
    <% @tasks.each do |task| %>
      <% if task::finished == true %>
       <hr>
        <div class="row">
          <div class="columns large-9 medium-6">
              <blockquote>
                <%= task.title %>
                <cite>By <%= task.author.first_name%> <%= task.author.last_name %>
                <br>
                End Date:<%= task.end_date %>
                </em></cite>
              </blockquote>
          </div>
          <div class="columns large-3 medium-6">
            <ul class="inline-list">
              <li><%= link_to 'Show', task %></li>
              <li><%= link_to 'Edit', edit_task_path(task) %></li>
              <li><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></li>      
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>    


