<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<!--diff=@task.end_date.to_i - @task.created_at.to_i;
diff.hours
----------------------------
start_time=(@task.end_date)
end_time=(@task.end_date)
TimeDifference.between(start_time, end_time).in_hours--> 
<p>
  <strong>Duration:</strong>
  Expected to be finished in <%= distance_of_time_in_words(@task.end_date.to_i, @task.created_at.to_i) %> 
</p>

<p>
  <strong>Created:</strong>
  <%= @task.created_at %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong>Author:</strong>
  <%= @task.author.first_name %> <%= @task.author.last_name %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @task.finished %>
</p>

<%= link_to 'Edit', edit_task_path(@task), class: 'button' %> 
